/* ------- General -------------------------------------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #353535;
  color: #fff;
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 300;
  font-size: 20px;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
  height: 100vh;
}
h1 {
  font-weight: 500;
  text-transform: uppercase;
}
.row {
  max-width: 1140px;
  margin: 0 auto;
}
/* ------- Header --------------------------------------------- */

header {
  clip-path: polygon(
    100% 0,
    0 0,
    0 77.5%,
    1% 77.4%,
    2% 77.1%,
    3% 76.6%,
    4% 75.9%,
    5% 75.05%,
    6% 74.05%,
    7% 72.95%,
    8% 71.75%,
    9% 70.55%,
    10% 69.3%,
    11% 68.05%,
    12% 66.9%,
    13% 65.8%,
    14% 64.8%,
    15% 64%,
    16% 63.35%,
    17% 62.85%,
    18% 62.6%,
    19% 62.5%,
    20% 62.65%,
    21% 63%,
    22% 63.5%,
    23% 64.2%,
    24% 65.1%,
    25% 66.1%,
    26% 67.2%,
    27% 68.4%,
    28% 69.65%,
    29% 70.9%,
    30% 72.15%,
    31% 73.3%,
    32% 74.35%,
    33% 75.3%,
    34% 76.1%,
    35% 76.75%,
    36% 77.2%,
    37% 77.45%,
    38% 77.5%,
    39% 77.3%,
    40% 76.95%,
    41% 76.4%,
    42% 75.65%,
    43% 74.75%,
    44% 73.75%,
    45% 72.6%,
    46% 71.4%,
    47% 70.15%,
    48% 68.9%,
    49% 67.7%,
    50% 66.55%,
    51% 65.5%,
    52% 64.55%,
    53% 63.75%,
    54% 63.15%,
    55% 62.75%,
    56% 62.55%,
    57% 62.5%,
    58% 62.7%,
    59% 63.1%,
    60% 63.7%,
    61% 64.45%,
    62% 65.4%,
    63% 66.45%,
    64% 67.6%,
    65% 68.8%,
    66% 70.05%,
    67% 71.3%,
    68% 72.5%,
    69% 73.6%,
    70% 74.65%,
    71% 75.55%,
    72% 76.35%,
    73% 76.9%,
    74% 77.3%,
    75% 77.5%,
    76% 77.45%,
    77% 77.25%,
    78% 76.8%,
    79% 76.2%,
    80% 75.4%,
    81% 74.45%,
    82% 73.4%,
    83% 72.25%,
    84% 71.05%,
    85% 69.8%,
    86% 68.55%,
    87% 67.35%,
    88% 66.2%,
    89% 65.2%,
    90% 64.3%,
    91% 63.55%,
    92% 63%,
    93% 62.65%,
    94% 62.5%,
    95% 62.55%,
    96% 62.8%,
    97% 63.3%,
    98% 63.9%,
    99% 64.75%,
    100% 65.7%
  );
  position: fixed;
  width: 100%;
  top: 0;
  background: linear-gradient(to bottom left, #8a2387, #e94097, #f27121);
  background-size: 200% 200%;
  animation: gradient 5s ease infinite;
  z-index: 1;
  height: 300px;
  overflow: hidden;
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.mainnav {
margin: 0 auto;
}
nav {
  display: flex;
  justify-content: space-between;
}
header h1 {
  display: inline-block;
  color: #fff;
  font-size: 250%;
  text-shadow: 0 3px 3px rgb(0 0 0 / 50%);
  font-weight: 800;
  margin-top: 30px;
}
header h1 span {
  color: #f27121;
}
header ul {
  list-style: none;
  margin: 45px 40% 0 0;
}
header ul li {
  display: inline-block;
  width: 60px;
}
a {
  text-shadow: 0 1px 1px rgb(0 0 0 / 50%);
  font-size: 70%;
  font-weight: 500;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0);
  padding: 10px;
}
a:hover {
  border: 1px solid rgba(0, 0, 0, 0.514);
  border-radius: 5px;
  padding: 5px 10px;
}

/* ------- Body ----------------------------------------------- */

.main {
  margin-top: 250px;
}
.main h2 {
  color:#fff;
  text-shadow: 0 3px 3px rgb(0 0 0 / 50%);

}

.separator:after {
  display: block;
  height: 1px;
    background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 220, from(rgb(255, 255, 255)), to(#7e7e7e));
  content: " ";
  width: 90%;
  margin: 0 auto;
  margin-top: 20px;
}
.box {
  margin: 20px auto;
  max-width: 1000px;
  color:#f27121;
  font-size: 90%;
  background: #464646;
  border-radius: 15px;
  padding: 15px;
  cursor: pointer;
  box-shadow: 0px 15px 10px rgba(0, 0, 0, 0.15);
}
  .box .img {
    height: 180px;
    background: linear-gradient(to top right, #8a2387, #e94097, #f27121);
    background-size: 200% 200%;
    animation: gradient 5s ease infinite;
    border-radius: 10px;
  }
  .box p {
    color: #c0c0c0;
    font-size: 100%;
    padding: 0 20px;
    padding-bottom: 30px;
    margin-top: 15px;
    text-align: justify;
  }
 .box h2 {
   text-align: center;
   margin-top: 20px;
 }
 .box:hover {
  box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.3);
  transform: scale(1.025);
 }

/* ------- Footer ----------------------------------------------- */

footer {
  position: relative;
  background-color: #202020;
  height: 300px;
  margin-top: 50px;
}
footer .copyright {
  position: absolute;
  bottom: 0;
  height: 40px;
  width: 100%;
  background-color: #161616;
}
.copyright p {
  color: #444444;
  text-align: center;
  vertical-align: middle;
  line-height: 40px;
  font-size: 70%;
  font-style: italic;
}
.footer-box {
  margin-top: 10px;
  margin-bottom: 20px;
  border-radius: 15px;
  text-align: justify;
  padding: 10px;
}
.a:last-of-type { margin-right: 0; }
footer h3 {
  color: #e94097;
  text-align: center;
  margin-top: 10px;
  text-transform: uppercase;
}
footer p {
  font-size: 80%;
  color: #f27121;
}


.intro {
  z-index: 0;
  background: #000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center
}

.intro-text {
  font-size: 5rem;
  color: #c0c0c0;
  font-weight: 800;
  letter-spacing: 3px;
  line-height: 150%;
}

.slider {
  z-index: 0;
  background: #e94097;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  transform: translateY(100%);
}

.hide {
  background: #000;
  overflow: hidden;
}

.hide span {
  transform: translateY(100%);
  display: inline-block;
}